@keyframes anmi {
    0% {
      scale: 1;
    }
    20% {
      scale: 2;
    }
    40% {
      scale: 1;
    }
    60% {
      scale: 1.5;
    }
    80% {
      scale: 1;
    }
    100% {
      scale: 1.25;
    }
    
  }

  
  .thankyou-img-wrapper{
    animation-name: anmi;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
  }
  .thankyou-img{
    mix-blend-mode:multiply;
  }
  /* .thankyou-text{
    font-family: "Style Script", cursive;
  } */
  